.headings {
  font-family: Oswald;
  color: DarkBlue;
}

.text {
  font-family: Open Sans;
  color: DarkBlue;
}
.page {
  background: Ivory;
  margin: 10px 50px 10px 50px
}

.images {
  width: 100px;
  float: left;
}