.images {
  width: 100px;
  float: left;
}

.headers {
  font-family: Oswald;
  color: DarkBlue;
}

.text {
  font-family: Open Sans;
  color: DarkBlue;
}

.page {
  background: Ivory;
  margin: 10px 50px 10px 50px;
}

.left {
  float: left;
  width: 300px;
  padding: 10px;
}

.center {
  margin-left: 300px;
  margin-right: 300px;
  padding: 10px;
}

.right {
  float: right;
  width: 300px;
  padding: 10px;
}

#navBar a {
  font-family: Open Sans;
  color: DarkBlue;
  margin-left: 40px;
  margin-right: 40px;
}